
.footer{
    
    margin-top: 1em;
    z-index: 3;
    background-color: aliceblue;
    position: sticky;
    bottom:0;
    width: 100%;
    padding:1em;    
    /* height:200px; */
    color: #A9A9A9;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    
    
    .username{
        text-decoration: none;
        color: #A9A9A9;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
    }
    
    .devchallenge{
        color: #A9A9A9;
    }
